body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
}

.nav-links a {
    color: #E5E7EB;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

/* HERO SECTION */
.hero {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
}

.hero-text {
    width: 45%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-text button {
    background: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
}

.hero-image {
    width: 45%;
    background: gray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INFORMATION SECTION */
.info {
    text-align: center;
    padding: 50px 0;
}

.info h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box {
    width: 150px;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

/* QUOTE SECTION */
.quote-section {
    background: #E5E7EB;
    padding: 100px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

/* CALL TO ACTION */
.cta {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.cta-box {
    background: #3882F6;
    color: white;
    width: 70%;
    padding: 40px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-box button {
    border: 2px solid white;
    background: transparent;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}

/* FOOTER */
.footer {
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}
